.card {
	width: 400px;
	padding: 1rem;
	box-shadow: 0 0 5px 5px #f2f1f1;
	border-radius: 8px;
	cursor: pointer;
	transition: transform 0.3s ease;
}
.card:hover {
	transform: translateY(-10px);
}
.card img {
	width: 360px;
	height: 360px;
	object-fit: cover;
}
